<section class="product-grid">
  <a href="product1.html" class="product-card">
    <img src="../assets/filler-image.jpg" alt="Product 1" />
    <div class="product-description">
        <h2>Product 1</h2>
        <p>$XX.XX</p>
    </div>
  </a>
  <a href="product2.html" class="product-card">
    <img src="../assets/filler-image.jpg" alt="Product 2" />
    <div class="product-description">
        <h2>Product 1</h2>
        <p>$XX.XX</p>
    </div>
  </a>
  <a href="product3.html" class="product-card">
    <img src="../assets/filler-image.jpg" alt="Product 3" />
    <div class="product-description">
        <h2>Product 1</h2>
        <p>$XX.XX</p>
    </div>
  </a>
  <a href="product4.html" class="product-card">
    <img src="../assets/filler-image.jpg" alt="Product 4" />
    <div class="product-description">
        <h2>Product 1</h2>
        <p>$XX.XX</p>
    </div>
  </a>
  <a href="product5.html" class="product-card">
    <img src="../assets/filler-image.jpg" alt="Product 5" />
    <div class="product-description">
        <h2>Product 1</h2>
        <p>$XX.XX</p>
    </div>
  </a>
  <a href="product6.html" class="product-card">
    <img src="../assets/filler-image.jpg" alt="Product 6" />
    <div class="product-description">
        <h2>Product 1</h2>
        <p>$XX.XX</p>
    </div>
  </a>
</section>
