/* shared.css */

/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@100..900&display=swap');

/* Root variables for consistent theming */
:root {
  /* Primary */
  --color-white: #ffffff;
  --color-black: #000000;

  --font-main: 'Nobile', sans-serif;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-main);
  color: var(--color-black);
  background-color: var(--color-white);
}

/* Links */
a {
  color: var(--color-accent);
  text-decoration: none;
}